<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.home-media.airplay-frame-daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/YOU/Library/Application Support/Home Media/bin/airplay-frame-daemon</string>
    <string>--config</string>
    <string>/Users/YOU/.config/home-media/airplay-capture.json</string>
    <string>--state-dir</string>
    <string>/Users/YOU/Library/Application Support/Home Media/frames</string>
  </array>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/YOU</string>
    <key>USER</key>
    <string>YOU</string>
    <key>LOGNAME</key>
    <string>YOU</string>
  </dict>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>/dev/null</string>
  <key>StandardErrorPath</key>
  <string>/dev/null</string>
</dict>
</plist>
